In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv("data/ML4QS_testrun_2")

In [13]:
data.head()

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,p,Bx,By,Bz,Azimuth,Pitch,Roll,Gain,Unnamed: 18
0,13:18:00:074,0.10,0.02,1.01,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,-∞,NaN
1,13:18:00:078,0.10,0.02,1.01,0.0,0.0,0.0,0.00,0.00,0.0,1011.99,0.0,0.0,0.0,0.00,0.00,0.00,-∞,NaN
2,13:18:00:106,0.01,0.05,0.95,0.0,0.0,0.0,0.00,0.00,0.0,1011.99,0.0,0.0,0.0,0.00,0.00,0.00,-∞,NaN
3,13:18:00:109,0.01,0.05,0.95,0.0,0.0,0.0,0.00,0.00,0.0,1011.99,0.0,0.0,0.0,73.07,174.65,-8.34,-∞,NaN
4,13:18:00:110,0.01,0.05,0.95,0.0,0.0,0.0,1.49,1.45,19.0,1011.99,0.0,0.0,0.0,73.07,174.65,-8.34,-∞,NaN

In [ ]:
df_raw = data.drop(["Unnamed: 18"], axis=1)
df_raw = df_raw[df_raw.Gain != "-∞"]
for i in range(0,len(df_raw.index)):
    df_raw.time.iloc[i] = "2019:06:14 " + df_raw.time.iloc[i]
print(type(df_raw.time.iloc[0]))
    
# df_raw = df_raw.set_index("time")
# df_raw = df_raw.astype("float64")

In [10]:
len(df_raw.index)

105187

In [26]:
df_raw.index = pd.to_datetime(df_raw.index, format="%Y:%m:%d %H:%M:%S:%f")